@import
	url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap')
	;

:root { 
	--main-color: gray; 
	--color-dark: #34425a; 
	--text-grey: #b0b0b0; 
	--white: #fff;
	--black: #000;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

.sidebar {
	position: fixed;
	height: 100%;
	width: 165px;
	left: 0;
	bottom: 0;
	top: 0;
	z-index: 100;
	background: var(- -main-color);
}

.side-header {
	box-shadow: 0px 5px 5px -5px rgb(0 0 0/ 10%);
	background: var(- -main-color);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.side-content {
	margin-top: 60px;
}

.profile {
	text-align: center;
	padding: 2rem 0rem;
}

.bg-img {
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	background-size: cover;
}

.profile-img {
	height: 80px;
	width: 80px;
	display: inline-block;
	margin: 0 auto 0.5rem auto;
	border: 3px solid #899dc1;
}

.profile h4 {
	color: #fff;
	font-weight: 500;
}

.profile small {
	color: #899dc1;
	font-weight: 600;
}

.sidebar {
	/*overflow-y: auto;*/
	
}

.side-menu ul {
	text-align: center;
}

.side-menu a {
	display: block;
	color: var(--black);
	padding: 1.2rem 0rem;
	font-size: 1.2rem;
}
.side-menu i {
	font-size: 1.6rem;
}

.main-content {
	margin-left: 165px;
	width: calc(100% - 165px);
}

header {
	position: fixed;
	right: 0;
	top: 0;
	left: 165px;
	z-index: 100;
	height: 60px;
	box-shadow: 0px 5px 5px -5px rgb(0 0 0/ 10%);
	background: #fff;
	transition: left 300ms;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	padding: 0 20px;
}

.header-content span {
	color: var(--black);
	font-size: 1.2rem;
}


.user {
	display: flex;
	align-items: center;
}

.user div, .client-img {
	height: 40px;
	width: 40px;
	margin-right: 1rem;
}

.user span:last-child {
	display: inline-block;
	margin-left: 0.3rem;
	font-size: 0.8rem;
}

main {
	margin-top: 60px;
}

.page-header {
	padding: 1.3rem 1rem;
	background: #c0c0c0;
}

.page-header h1, .page-header small {
	color: #74767d;
}

.page-content {
	padding: 1.3rem 1rem;
	background: #c0c0c0;
}

.page-content .add-btn {
	padding: 10px 15px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #fff;
	border-radius: 5px;
}

.analytics {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.card {
	background: #fff;
	padding: 1rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.card-head h2 {
	color: #333;
	font-size: 1.6rem;
	font-weight: 500;
}

.card-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-content span {
	font-size: 2.5rem;
}

.card-indicator {
	margin: 0.7rem 0rem;
	height: 10px;
	border-radius: 4px;
	background: #e9edf2;
	overflow: hidden;
}

.indicator {
	height: 10px;
	border-radius: 4px;
}

.indicator.one {
	background: #22baa0;
}

.indicator.two {
	background: #11a8c3;
}

.indicator.three {
	background: #f6d433;
}

.indicator.four {
	background: #f25656;
}

.records {
	box-shadow: 0px 5px 5px -5px rgb(0 0 0/ 10%);
	background: #fff;
	border-radius: 3px;
}

.record-header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add, .browse {
	display: flex;
	align-items: center;
}

.add span {
	display: inline-block;
	margin-right: 0.6rem;
	font-size: 0.9rem;
	color: #666;
}

input, button, select {
	outline: none;
}

.add select, .browse input, .browse select {
	height: 35px;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	display: inline-block;
	width: 75px;
	padding: 0rem 0.5rem;
	margin-right: 0.8rem;
	color: #666;
}

.add button {
	background: var(- -main-color);
	color: #fff;
	height: 37px;
	border-radius: 4px;
	padding: 0rem 1rem;
	border: none;
	font-weight: 600;
}

.browse input {
	width: 150px;
}

.browse select {
	width: 100px;
}

.table-responsive {
	width: 100%;
	overflow: auto;
}

table {
	border-collapse: collapse;
}

table thead tr {
	background: gray;
}

table thead th {
	padding: 1rem 0rem;
	text-align: left;
	color: #fff;
	font-size: 0.9rem;
}

table thead th:first-child {
	padding-left: 1rem;
}

table tbody td {
	padding: 1rem 0rem;
	color: #444;
}

table tbody td:first-child {
	padding-left: 1rem;
	color: var(- -main-color);
	font-weight: 600;
	font-size: 0.9rem;
}

table tbody tr {
	border-bottom: 1px solid #dee2e8;
}

.client {
	display: flex;
	align-items: center;
}

.client-img {
	margin-right: 0.5rem;
	border: 2px solid #b0b0b0;
	height: 45px;
	width: 45px;
}

.client-info h4 {
	color: #555;
	font-size: 0.95rem;
}

.client-info small {
	color: #777;
}

.actions span {
	display: inline-block;
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.paid {
	display: inline-block;
	text-align: center;
	font-weight: 600;
	color: var(- -main-color);
	background: #e5f8ed;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	font-size: 0.8rem;
}

.container_form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.form-create_product {
	width: 50%;
	height: auto;
	padding: 2rem;
}

form.form {
	width: 100%;
	height: auto;
	padding: 1rem;
	border-radius: 5px;
}

.form-item {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.form-item label {
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	padding: 0.3em 0;
}

.form-item input {
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
}

.form-item select.category {
	padding: 0.6em 1em;
	border-radius: 5px;
	width: 100%;
	border: 1px solid rgba(128, 128, 128, 0.488);
}

.form button {
	width: 100%;
	padding: 0.6em 2em;
	margin-top: 10px;
	border-radius: 8px;
	border: none;
	background-color: #0080ff;
	color: white;
	font-size: 14px;
	cursor: pointer;
}